@{
    ViewBag.Title = "会员管理";
}
<div style="float:right">@Html.ActionLink("新建", "Edit", new { id = 0 })</div>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>电话</th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model.Data)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                @Html.ActionLink("删除", "", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
